<div class="p-3" style="height: 82%;">
  <%= @task_detail["task_name"] %>
</div>
<div class="flex justify-end items-center w-100 border-t p-3">
  <button class="bg-red hover:bg-red px-3 py-1 rounded text-white mr-1 close-modal">取消</button>
  <button class="bg-blue hover:bg-blue px-3 py-1 rounded text-white">确定</button>
</div>
